<header class="header">
    <a [routerLink]="''" class="header__mainLink"></a>

    <nav class="header__linkContainer">
        @for (link of headerNavigationList$ | async; track link) {
            <ng-container *ngTemplateOutlet=" linkTemplate; context: { link, class: 'header__linkContainer__link' }"
            ></ng-container>
        }

        <app-expand-input (isNgContentDisplayed)="isContentShowed = $event">
            <ng-container *ngIf="isContentShowed">
                <input class="header__expand__input" type="text" (click)="changeService()"/>
                <ng-container *ngIf="expandService.asd">
                    <div class="header__expand__tagContainer tagContainer">
                        <div class="tagContainer--leftBox">
                            <ng-container *ngIf="(tags$ | async)?.length; else noTags">
                                <h4 [style.font-weight]="400"
                                    [style.color]="'#7F878C'"
                                    [style.margin-bottom.px]="20"
                                >{{ 'История' }}</h4>

                                @for (tag of tags$ | async; track tag) {
                                    <span [style.display]="'block'"
                                          [style.color]="'var(--main_text_color)'"
                                          [style.margin-bottom.px]="10">{{ tag }}</span>
                                }
                            </ng-container>
                        </div>
                        <div class="tagContainer--rightBox"></div>
                    </div>
                </ng-container>
            </ng-container>
        </app-expand-input>


    </nav>

    <div class="header__rightBox">
        <button class="header__rightBox__notification"></button>
        <span *ngIf="(userData$ | async)?.notification_count">{{ (userData$ | async)?.notification_count }}</span>
        <button [ngStyle]="{'background-image': 'url(' + (userData$ | async)?.avatar_url + ')'}"
                class="header__rightBox__account"></button>
    </div>
</header>

<ng-template #linkTemplate let-linkItem="link" let-className="class">
    <li
            [ngClass]="className"
            [ngStyle]="{'background-image': 'url(' + linkItem.iconUrl + ')'}"
    >
        <a [routerLink]="">
            {{ linkItem.linkName }}
        </a>
    </li>
</ng-template>

<ng-template #noTags>
    <h4 [style.font-weight]="400"
        [style.color]="'#7F878C'"
        [style.margin-bottom.px]="20"
    >{{ 'История пуста' }}</h4>
</ng-template>

