* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li, ol {
  list-style-type: none;
}

a:hover, button:hover {
  cursor: pointer;
}

:root {
  --header_bg_color: #1074CC;
  --main_text_color: #fff
}

[theme="dark"] {
  --header_bg_color: #00294a;
  --main_text_color: #fff
}
